main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
  
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {

    font-weight: bold;
}

a:active {
    text-decoration: none;
}